body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: url('fundo.jpeg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

.container {
  text-align: center;
  margin-top: 15vh;
}

h1 {
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

#search {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: 300px;
  margin: 0 auto;
  background: rgba(0,0,0,0.7);
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
}

#suggestions li {
  padding: 8px;
  cursor: pointer;
}

#suggestions li:hover {
  background: rgba(255,255,255,0.2);
}

table {
  margin: 30px auto;
  border-collapse: collapse;
  width: 80%;
  background: rgba(0,0,0,0.7);
  border-radius: 10px;
  overflow: hidden;
}

th, td {
  padding: 12px;
  border: 1px solid rgba(255,255,255,0.3);
}

th {
  background: rgba(0,0,0,0.9);
}
.menu {
	flex-direction:column;
	align-items: center;	
  display: flex;
  justify-content: center;  /* Centraliza os botões */
  margin: 30px auto;
  padding: 10px;
  /*background-color: #2c3e50;*/
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
}
  

.menu ul {
  list-style: none; /* Remove bolinhas */
  display: flex;
  flex-direction:column;
  gap: 15px; /* Espaçamento entre os botões */
  padding: 0;
  margin: 0;
  align-items: center;
}

.menu li {
  margin: 5px;
}

.menu a {
 display: block;
  width: 100%;
  box-sizing: border-box;
  background-color: orange;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: sans-serif;
  padding: 12px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.8);
  text-align: center;
  word-break: break-word;
}

.menu a:hover {
  background-color: #1abc9c;
  color: white;
}
